name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: write

env:
  IMAGE_TAG: ${{ github.sha }}

jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '23'

      - name: Frontend Compilation
        run: |
          cd client
          find . -name "*.js" -exec node --check {} +

      - name: Backend Compilation
        run: |
          cd api
          find . -name "*.js" -exec node --check {} +

  gitleaks-scan:
    runs-on: ubuntu-latest
    needs: compile
    steps:
      - uses: actions/checkout@v4
      - uses: gitleaks/gitleaks-action@v2
      - run: |
          gitleaks detect --source ./client --exit-code 1
          gitleaks detect --source ./api --exit-code 1

  trivy_fs_scan:
    runs-on: ubuntu-latest
    needs: gitleaks-scan
    steps:
      - uses: actions/checkout@v4
      - uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: fs
          scan-ref: .
          severity: CRITICAL,HIGH

  build_backend_docker_image_and_push:
    runs-on: ubuntu-latest
    needs: trivy_fs_scan
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          context: ./api
          push: true
          tags: |
            salmandevops290/argocd-k8s-backend:latest
            salmandevops290/argocd-k8s-backend:${{ env.IMAGE_TAG }}

  build_frontend_docker_image_and_push:
    runs-on: ubuntu-latest
    needs: trivy_fs_scan
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          context: ./client
          push: true
          tags: |
            salmandevops290/argocd-k8s-frontend:latest
            salmandevops290/argocd-k8s-frontend:${{ env.IMAGE_TAG }}

  trivy_image_scan:
    runs-on: ubuntu-latest
    needs:
      - build_backend_docker_image_and_push
      - build_frontend_docker_image_and_push
    steps:
      - uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: image
          image-ref: salmandevops290/argocd-k8s-backend:${{ env.IMAGE_TAG }}

  update_cd_repo:
    runs-on: ubuntu-latest
    needs: trivy_image_scan
    steps:
      - uses: actions/checkout@v4
        with:
          repository: salman0325/argocd-project-cd.git
          token: ${{ secrets.CD_REPO_TOKEN1 }}
          path: cd

      - name: Update image tags
        working-directory: cd
        run: |
          yq -i '
            (. | select(.kind=="Deployment")
            | .spec.template.spec.containers[].image)
            = "salmandevops290/argocd-k8s-backend:${{ env.IMAGE_TAG }}"
          ' k8s-prod/backend.yaml

      - name: Commit & push
        working-directory: cd
        run: |
          git config user.name "cloudchamp0325"
          git config user.email "cloudchamp0325@gmail.com"
          git add -A
          git commit -m "bump images to $IMAGE_TAG"
          git push
